<h2>Reactivos:Dinamicos</h2>
<hr />
<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="nombre"
        class="form-control"
        placeholder="Nombre de la persona"
        required
      />
    </div>
    <span class="form-text text-danger" *ngIf="nombreVacio()"
      >Debe tener mas de 3 caracteres</span
    >
  </div>
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          [formControl]="nuevoFavorito"
          (keyup.enter)="agregarFavorito()"
          class="form-control"
          placeholder="Agregar juego favorito"
        />
        <button
          class="btn btn-outline-primary"
          (click)="agregarFavorito()"
          type="button"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div
        class="input-group mb-1"
        *ngFor="let favorito of favoritosArr.controls; let i = index"
      >
        <input
          type="text"
          [formControlName]="i"
          class="form-control"
          required
        />
        <button
          class="btn btn-outline-danger"
          (click)="borrar(i)"
          type="button"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<h1>Valid</h1>
<pre>{{ miFormulario.valid }}</pre>

<h1>Value</h1>
<pre>{{ miFormulario.value | json }}</pre>

<h1>Agregar Juego</h1>
<pre>{{ nuevoFavorito.value | json }}</pre>
