<h2>Template: Switches</h2>
<hr />
<form #miFormulario="ngForm">
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          id="radio-masculino"
          required
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          required
          id="radio-femenino"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Femenino
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          [(ngModel)]="persona.notificaciones"
          name="notificaciones"
          required
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            [(ngModel)]="terminos"
            name="terminos"
            required
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Acepto terminos y condiciones
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <button
        type="button"
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
